html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
  height: 100%;
}

md-toolbar h3 {
  margin: 0;
  padding-top: 20px;
  font-weight: 500;
  min-height: 76px;
}

md-list {
  padding: 0;
}

.sidenav-item {
  height: 60px;
}

.sidenav-item > button {
  height: 100%;
  width: 100%;
  padding: 0 10px !important;
  margin: 0 !important;
  text-align: left !important;
}

.circle {
  border-radius: 50%;
}

.contact-container {
  min-width: 300px;
  min-height: 240px;
  padding: 10px;
}

.mobile-contact-container {
  margin-bottom: 24px;
}

.mobile-contact-container span {
  margin: 10px;
}

.contact-item {
  margin: 0;
  padding-top: 5px;
  padding-left: 24px;
  font-size: 10pt;
  width: 100%;
  align-items: flex-start;
  text-transform: none;
}

.contact-icon {
  margin-top: 8px;
  margin-right: 10px;
}

.exp-summary-progress {
  height: 40px;
  background-color: gray;
}

.exp-summary-progress .progress-bar {
  background-color: green;  
  font-size: 20pt;
  padding-top: 10px;
}
