html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
  height: 100%;
}

md-toolbar h2 {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 500;
}
md-toolbar > button {
  margin-top: 8px !important;
}

md-list {
  padding: 0;
}

.sidenav-item {
  height: 60px;
}
.sidenav-item > button {
  height: 100%;
  width: 100%;
  padding: 0 10px !important;
  margin: 0 !important;
  text-align: left !important;
}

.contact-container {
  min-width: 300px;
  min-height: 240px;
  padding: 10px;
}
.contact-item {
  margin: 0;
  padding-top: 5px;
  padding-left: 24px;
  font-size: 10pt;
  width: 100%;
  align-items: flex-start;
  text-transform: none;
}
.contact-icon {
  margin-top: 8px;
  margin-right: 10px;
}

.content-card {
  padding: 10px;
  margin-bottom: 24px;
}
.content-card span {
  margin: 10px;
}

.skillset-container {
  margin: 10px;
}
.skillset-container > span {
  font-size: 12pt;
}
.skill-progress-container .progress {
  height: 40px;
  background-color: #E0E0E0;
  margin: 0;
}
.skill-progress-container .progress-bar {
  background-color: green;  
  font-size: 14pt;
  padding-top: 10px;
}
