<html ng-app="TamHuynhWebsite" ng-controller="MainController as mc" ng-cloak>
  <head>
    <title ng-bind="'TamHuynh - ' + title"></title>

    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Materifont-awesome.min.cssal+Icons"> -->

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0"/>
  </head>

  <body layout="column">
    <md-toolbar layout="row" layout-align-gt-sm="center">
      <md-button class="fa fa-bars fa-2x" ng-click="toggleSideNav()" hide-gt-sm md-no-ink aria-label="menu">
      </md-button>
      <h3>TamHuynh</h3>
    </md-toolbar>

    <div layout="row" flex>
      <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-4dp" md-component-id="left-sidenav">
          <md-list ng-click="toggleSideNav()">
            <md-list-item>
              <md-button ng-class="{'md-primary':title == 'Profile'}" ng-click="changeView('profile')">Profile</md-button>
            </md-list-item>

            <md-list-item>
              <md-button ng-class="{'md-primary':title == 'Education'}" ng-click="changeView('education')">Education</md-button>
            </md-list-item>

            <md-list-item>
              <md-button ng-class="{'md-primary':title == 'Experience'}" ng-click="changeView('experience')">Experience</md-button>
            </md-list-item>

            <md-divider></md-divider>

            <md-list-item>
              <md-button ng-click="toggleContact()">Contact</md-button>
            </md-list-item>
          </md-list>
      </md-sidenav>

      <md-content id="content" flex layout-padding>
        <div class="container">
          <ng-view></ng-view>
        </div>
      </md-content>
    </div>

    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
    
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>
