<div>
  <h3 class="md-primary">Experience</h3>

  <md-card class="content-card" ng-repeat="skillset in skillList">
    <span>{{skillset.title}}</span>

    <div ng-repeat="skill in skillset.content" class="skillset-container">
      <span>{{skill.name}}</span>
      <div class="skill-progress-container" md-whiteframe="3">
        <uib-progressbar title="{{skill.name}}" animate="true" class="" value="skill.currentValue">{{skill.currentValue}} %</uib-progressbar>
      </div>
    </div>
  </md-card>
</div>
